{% extends 'base.html' %}
{% block title %} Gaurav Diary | Home{% endblock title %}
{% block body %}

<div class="container my-3">
    <h2>Add an Entry</h2>
    <form action="/" method="POST">
        <div class="mb-3">
            <label for="desc" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="title">
        </div>
        <div class="mb-3">
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 300px" name="entry_content" id="entry_content"></textarea>
                <label for="floatingTextarea2">ENTRY</label>
            </div>
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>

<div class="container my-3">
    <h2>Diary Details</h2>
    {% if allpro|length == 0 %}
    <div class="alert alert-dark" role="alert">
        No Entry found. Add your first Entry now!
    </div>
    {% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sno.</th>
                <th scope="col">Title</th>
                <th scope="col">Entry</th>
                <th scope="col">Date and Time</th>
            </tr>
        </thead>

        <tbody>
            {% for pro in allpro %}
            <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{pro.title}}</td>
                <td>{{pro.entry_content}}</td>
                <td>{{pro.date_created}}</td>
                <td>
                    <a href="/delete/{{pro.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</button>
                        <a href="/read/{{pro.sno}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Read</button>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
    {% endif %}


</div>
{% endblock body %}